Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2023-08, with the labels that each got.

#2961 Upd:[TW] Event:World-spanning Arclight Rerun
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: Server: TW / 台服, game event / 游戏活动

#2976 Upd: [MAA] Support Sami roguelike settings
  config/template.maa.json
  submodule/AlasMaaBridge/module/config/argument/args.json
  submodule/AlasMaaBridge/module/config/argument/argument.yaml
  submodule/AlasMaaBridge/module/config/config_generated.py
  submodule/AlasMaaBridge/module/config/config_updater.py
  submodule/AlasMaaBridge/module/config/i18n/en-US.json
  submodule/AlasMaaBridge/module/config/i18n/ja-JP.json
  submodule/AlasMaaBridge/module/config/i18n/zh-CN.json
  submodule/AlasMaaBridge/module/config/i18n/zh-TW.json
Labels: good first issue / 首次贡献, feature request / 功能请求, Submodule: MAA / MAA插件

#2978 Upd: [EN] DISASSEMBLE_CANCEL
  assets/en/storage/DISASSEMBLE_CANCEL.BUTTON.png
  assets/en/storage/DISASSEMBLE_CANCEL.png
  assets/en/storage/DISASSEMBLE_CONFIRM.BUTTON.png
  assets/en/storage/DISASSEMBLE_CONFIRM.png
  module/storage/assets.py
Labels: assets issue / 资源适配问题, Server: EN / EN服

#3015 Update EN box button
  assets/en/storage/BOX_USE.BUTTON.png
  assets/en/storage/BOX_USE.png
  module/storage/assets.py
Labels: assets issue / 资源适配问题, Server: EN / EN服

#3017 updata EN box button (fix#3015)
  assets/en/storage/BOX_USE.BUTTON.png
  assets/en/storage/BOX_USE.png
  module/storage/assets.py
Labels: assets issue / 资源适配问题, Server: EN / EN服

#3024 Upd:[TW] Event:Aurora Noctis Rerun
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: Server: TW / 台服, game event / 游戏活动

#3023 Add: The Fool's Scales (event_20230817_cn)
  campaign/Readme.md
  campaign/event_20230817_cn/a1.py
  campaign/event_20230817_cn/a2.py
  campaign/event_20230817_cn/a3.py
  campaign/event_20230817_cn/b1.py
  campaign/event_20230817_cn/b2.py
  campaign/event_20230817_cn/b3.py
  campaign/event_20230817_cn/c1.py
  campaign/event_20230817_cn/c2.py
  campaign/event_20230817_cn/c3.py
  campaign/event_20230817_cn/d1.py
  campaign/event_20230817_cn/d2.py
  campaign/event_20230817_cn/d3.py
  campaign/event_20230817_cn/sp.py
  dev_tools/map_extractor.py
  module/config/argument/args.json
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: game event / 游戏活动

#3049 Upd:[TW] Event:Frostfall
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: Server: TW / 台服, game event / 游戏活动

#3051 Update tw assets for Frostfall
  assets/tw/coalition/COALITION_REWARD_CONFIRM.png
  assets/tw/coalition/FLEET_NOT_PREPARED.png
  assets/tw/coalition/FLEET_PREPARATION.BUTTON.png
  assets/tw/coalition/FLEET_PREPARATION.png
  assets/tw/coalition/FLEET_SWITCH_MULTI.png
  assets/tw/coalition/FLEET_SWITCH_SINGLE.png
  assets/tw/coalition/FROSTFALL_EX.png
  assets/tw/coalition/FROSTFALL_SP.png
  assets/tw/coalition/FROSTFALL_TC1.png
  assets/tw/coalition/FROSTFALL_TC2.png
  assets/tw/coalition/FROSTFALL_TC3.png
  assets/tw/ui/COALITION_CHECK.png
  module/coalition/assets.py
  module/ui/assets.py
Labels: assets issue / 资源适配问题, Server: TW / 台服
