Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2023-10, with the labels that each got.

#3192 Upd:[TW] Event:Inverted Orthant Rerun
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: Server: TW / 台服, game event / 游戏活动

#3201 Fix: tactical failed when the ship's all skills are leveled max
  module/tactical/tactical_class.py
Labels: bug / 缺陷, good first issue / 首次贡献

#3214 Upd: [TW] assets and Raid event Fight On, Royal Maids!
  assets/tw/handler/AUTO_SEARCH_SET_ALL.png
  assets/tw/handler/AUTO_SEARCH_SET_BOSS.png
  assets/tw/handler/AUTO_SEARCH_SET_MOB.png
  assets/tw/handler/AUTO_SEARCH_SET_STANDBY.png
  assets/tw/handler/AUTO_SEARCH_SET_SUB_AUTO.png
  assets/tw/handler/AUTO_SEARCH_SET_SUB_STANDBY.png
  assets/tw/handler/STRATEGY_OPENED.BUTTON.png
  assets/tw/map/FLEET_1_ADVICE.png
  assets/tw/map/FLEET_1_BAR.png
  assets/tw/map/FLEET_1_CHOOSE.png
  assets/tw/map/FLEET_1_CLEAR.png
  assets/tw/map/FLEET_1_HARD_SATIESFIED.png
  assets/tw/map/FLEET_1_IN_USE.png
  assets/tw/map/FLEET_2_ADVICE.png
  assets/tw/map/FLEET_2_BAR.png
  assets/tw/map/FLEET_2_CHOOSE.png
  assets/tw/map/FLEET_2_CLEAR.png
  assets/tw/map/FLEET_2_HARD_SATIESFIED.png
  assets/tw/map/FLEET_2_IN_USE.png
  assets/tw/map/FLEET_PREPARATION.BUTTON.png
  assets/tw/map/FLEET_PREPARATION.png
  assets/tw/map/FLEET_PREPARATION_CHECK.png
  assets/tw/map/SUBMARINE_ADVICE.png
  assets/tw/map/SUBMARINE_BAR.png
  assets/tw/map/SUBMARINE_CHOOSE.png
  assets/tw/map/SUBMARINE_CLEAR.png
  assets/tw/map/SUBMARINE_HARD_SATIESFIED.png
  assets/tw/map/SUBMARINE_IN_USE.png
  assets/tw/raid/ALBION_OCR_PT.png
  assets/tw/raid/ALBION_OCR_REMAIN_EASY.png
  assets/tw/raid/ALBION_OCR_REMAIN_HARD.png
  assets/tw/raid/ALBION_OCR_REMAIN_NORMAL.png
  assets/tw/raid/ALBION_RAID_EASY.png
  assets/tw/raid/ALBION_RAID_HARD.png
  assets/tw/raid/ALBION_RAID_NORMAL.png
  assets/tw/ui/RAID_CHECK.png
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/zh-TW.json
  module/handler/assets.py
  module/map/assets.py
  module/raid/assets.py
  module/ui/assets.py
Labels: assets issue / 资源适配问题, Server: TW / 台服, game event / 游戏活动

#3217 [tw] Update WITHDRAW asset
  assets/tw/map/WITHDRAW.png
  module/map/assets.py
Labels: assets issue / 资源适配问题, Server: TW / 台服

#3227 Upd: [EN] EQUIPMENT_OPEN
  assets/en/equipment/EQUIPMENT_OPEN.png
  module/equipment/assets.py
Labels: assets issue / 资源适配问题, Server: EN / EN服

#3226 Upd: Update some part dorm ui for cn, jp, en
  assets/cn/dorm/DORM_FEED_CHECK.png
  assets/cn/dorm/DORM_FEED_ENTER.png
  assets/cn/dorm/OCR_DORM_FILL.png
  assets/cn/dorm/OCR_DORM_SLOT.png
  assets/cn/ui/DORM_CHECK.png
  assets/cn/ui/DORM_GOTO_MAIN.png
  assets/en/dorm/DORM_FEED_CHECK.png
  assets/en/dorm/DORM_FEED_ENTER.png
  assets/en/dorm/OCR_DORM_FILL.png
  assets/en/dorm/OCR_DORM_SLOT.png
  assets/en/ui/DORM_CHECK.png
  assets/en/ui/DORM_GOTO_MAIN.png
  assets/jp/dorm/DORM_FEED_CHECK.png
  assets/jp/dorm/DORM_FEED_ENTER.png
  assets/jp/dorm/OCR_DORM_FILL.png
  assets/jp/dorm/OCR_DORM_SLOT.png
  assets/jp/ui/DORM_CHECK.png
  assets/jp/ui/DORM_GOTO_MAIN.png
  module/dorm/assets.py
  module/dorm/dorm.py
  module/ui/assets.py
Labels: assets issue / 资源适配问题

#3237 Upd: [EN] Update EN‘s assets DORM_INFO
  assets/en/ui/DORM_INFO.png
  module/ui/assets.py
Labels: assets issue / 资源适配问题, Server: EN / EN服
