Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2023-11, with the labels that each got.

#3256 Upd:[TW]update dorm assets
  assets/tw/dorm/DORM_FEED_CHECK.png
  assets/tw/dorm/DORM_FEED_ENTER.png
  assets/tw/dorm/OCR_DORM_FILL.png
  assets/tw/dorm/OCR_DORM_SLOT.png
  assets/tw/ui/DORM_CHECK.png
  assets/tw/ui/DORM_GOTO_MAIN.png
  module/dorm/assets.py
  module/ui/assets.py
Labels: assets issue / 资源适配问题, Server: TW / 台服

#3267 Upd: [JP] RETIRE_COIN
  assets/jp/retire/RETIRE_COIN.png
  module/retire/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#3272 Upd: [JP] MEOWFFICER_GOLD/PURPLE_CHECK (#3259)
  assets/jp/meowfficer/MEOWFFICER_GOLD_CHECK.png
  assets/jp/meowfficer/MEOWFFICER_PURPLE_CHECK.png
  module/meowfficer/assets.py
Labels: good first issue / 首次贡献, assets issue / 资源适配问题, Server: JP / 日服

#3276 [TW]: Update WITHDRAW and IN_MAP assets
  assets/tw/handler/IN_MAP.png
  assets/tw/map/WITHDRAW.png
  module/handler/assets.py
  module/map/assets.py
Labels: assets issue / 资源适配问题, Server: TW / 台服

#3274 Upd: campaign
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: game event / 游戏活动

#3292 Upd: [CN] Update meowfficer UI
  assets/cn/meowfficer/MEOWFFICER_BUY_ENTER.png
  assets/cn/meowfficer/MEOWFFICER_BUY_SKIP.png
  assets/cn/meowfficer/MEOWFFICER_ENHANCE_CONFIRM.png
  assets/cn/meowfficer/MEOWFFICER_FEED_CANCEL.png
  assets/cn/meowfficer/MEOWFFICER_FEED_CONFIRM.png
  assets/cn/meowfficer/MEOWFFICER_FEED_ENTER.png
  assets/cn/meowfficer/MEOWFFICER_FORT_CHECK.png
  assets/cn/meowfficer/MEOWFFICER_FORT_CHORE.png
  assets/cn/meowfficer/MEOWFFICER_FORT_ENTER.png
  assets/cn/meowfficer/MEOWFFICER_FORT_RED_DOT.png
  assets/cn/meowfficer/MEOWFFICER_TRAIN_COMPLETE.png
  assets/cn/meowfficer/MEOWFFICER_TRAIN_ENTER.png
  assets/cn/meowfficer/MEOWFFICER_TRAIN_EVALUATE.png
  assets/cn/meowfficer/OCR_MEOWFFICER.png
  assets/cn/meowfficer/OCR_MEOWFFICER_CAPACITY.png
  assets/cn/meowfficer/OCR_MEOWFFICER_FEED.png
  assets/en/meowfficer/MEOWFFICER_BUY.png
  assets/en/meowfficer/MEOWFFICER_BUY_ENTER.png
  assets/en/meowfficer/MEOWFFICER_BUY_NEXT.png
  assets/en/meowfficer/MEOWFFICER_BUY_PREV.png
  assets/en/meowfficer/MEOWFFICER_FEED_ENTER.png
  assets/en/meowfficer/MEOWFFICER_FORT_CHECK.png
  assets/en/meowfficer/MEOWFFICER_FORT_CHORE.png
  assets/en/meowfficer/MEOWFFICER_FORT_ENTER.png
  assets/en/meowfficer/MEOWFFICER_FORT_RED_DOT.png
  assets/en/meowfficer/MEOWFFICER_TRAIN_ENTER.png
  assets/en/meowfficer/MEOWFFICER_TRAIN_EVALUATE.png
  assets/en/meowfficer/OCR_MEOWFFICER.png
  assets/en/meowfficer/OCR_MEOWFFICER_CAPACITY.png
  assets/en/meowfficer/OCR_MEOWFFICER_CHOOSE.png
  assets/en/meowfficer/OCR_MEOWFFICER_FEED.png
  assets/en/ui/MEOWFFICER_CHECK.png
  assets/jp/meowfficer/MEOWFFICER_BUY_ENTER.png
  assets/jp/meowfficer/MEOWFFICER_FEED_ENTER.png
  assets/jp/meowfficer/MEOWFFICER_FORT_CHORE.png
  assets/jp/meowfficer/MEOWFFICER_FORT_ENTER.png
  assets/jp/meowfficer/MEOWFFICER_FORT_RED_DOT.png
  assets/jp/meowfficer/MEOWFFICER_TRAIN_ENTER.png
  assets/jp/meowfficer/MEOWFFICER_TRAIN_EVALUATE.png
  assets/jp/meowfficer/OCR_MEOWFFICER.png
  assets/jp/meowfficer/OCR_MEOWFFICER_CAPACITY.png
  assets/jp/meowfficer/OCR_MEOWFFICER_FEED.png
  assets/tw/meowfficer/MEOWFFICER_BUY_ENTER.png
  assets/tw/meowfficer/MEOWFFICER_FEED_ENTER.png
  assets/tw/meowfficer/MEOWFFICER_FORT_CHORE.png
  assets/tw/meowfficer/MEOWFFICER_FORT_ENTER.png
  assets/tw/meowfficer/MEOWFFICER_FORT_RED_DOT.png
  assets/tw/meowfficer/MEOWFFICER_TRAIN_ENTER.png
  assets/tw/meowfficer/MEOWFFICER_TRAIN_EVALUATE.png
  assets/tw/meowfficer/OCR_MEOWFFICER.png
  assets/tw/meowfficer/OCR_MEOWFFICER_CAPACITY.png
  assets/tw/meowfficer/OCR_MEOWFFICER_FEED.png
  module/meowfficer/assets.py
  module/meowfficer/collect.py
  module/meowfficer/enhance.py
  module/meowfficer/meowfficer.py
  module/ui/assets.py
Labels: assets issue / 资源适配问题

#3293 Upd: [EN] Meowfficer assets
  assets/en/meowfficer/MEOWFFICER_BUY_SKIP.png
  assets/en/meowfficer/MEOWFFICER_ENHANCE_CONFIRM.png
  assets/en/meowfficer/MEOWFFICER_FEED_CANCEL.png
  assets/en/meowfficer/MEOWFFICER_FEED_CONFIRM.png
  assets/en/meowfficer/MEOWFFICER_GET_CHECK.png
  assets/en/meowfficer/MEOWFFICER_TRAIN_COMPLETE.png
  assets/en/meowfficer/MEOWFFICER_TRAIN_FILL_QUEUE.png
  assets/en/meowfficer/MEOWFFICER_TRAIN_FINISH_ALL.png
  module/meowfficer/assets.py
  module/meowfficer/enhance.py
  module/meowfficer/meowfficer.py
Labels: assets issue / 资源适配问题, Server: EN / EN服

#3305 Upd: Regex for merit shop
  module/shop/base.py
Labels: good first issue / 首次贡献

#3295 Upd: [CN] Update assets which have been omitted
  assets/cn/meowfficer/MEOWFFICER_GOLD_CHECK.png
  module/meowfficer/assets.py
  module/meowfficer/collect.py
Labels: assets issue / 资源适配问题, Server: CN / 国服

#3310 Upd: Description of StopCondition.StageIncrease
  module/config/i18n/en-US.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
Labels: optimization / 优化, good first issue / 首次贡献

#3323 Upd:[TW]Event:The Ninja Scrolls: Azur Flash
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/zh-TW.json
Labels: Server: TW / 台服, game event / 游戏活动
