Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2024-10, with the labels that each got.

#4242 Fix: dossier reward receive
  module/meta_reward/meta_reward.py
Labels: assets issue / 资源适配问题

#4267 Upd:Adds the Meowfficer maximum level option for enhance
  config/template.json
  module/config/argument/args.json
  module/config/argument/argument.yaml
  module/config/config_generated.py
  module/config/i18n/en-US.json
  module/config/i18n/ja-JP.json
  module/config/i18n/zh-CN.json
  module/config/i18n/zh-TW.json
  module/meowfficer/enhance.py
Labels: optimization / 优化, good first issue / 首次贡献

#4276 [JP] 修复UI更新导致的装备拆解和开装备箱子出现无法进行的情况
  assets/jp/storage/BOX_USE.BUTTON.png
  assets/jp/storage/BOX_USE.png
  assets/jp/storage/MATERIAL_CHECK.png
  module/storage/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#4296 Upd: [JP] asset QUIT
  assets/jp/combat_ui/QUIT.png
  module/combat_ui/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服
