Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2024-09, with the labels that each got.

#4144 Fix: wrong campaing_main_15 enemy filter
  campaign/campaign_main/campaign_15_base.py
Labels: optimization / 优化

#4145 Add: mask for ui_white_main
  assets/mask/MASK_MAIN_WHITE.png
  module/handler/sensitive_info.py
Labels: assets issue / 资源适配问题

#4156 Add: enable maa OnePushConfig
  submodule/AlasMaaBridge/module/config/argument/args.json
  submodule/AlasMaaBridge/module/config/argument/argument.yaml
Labels: Submodule: MAA / MAA插件

#4159 Add: Sarkaz roguelike
  config/template.maa.json
  submodule/AlasMaaBridge/module/config/argument/args.json
  submodule/AlasMaaBridge/module/config/argument/argument.yaml
  submodule/AlasMaaBridge/module/config/config_generated.py
  submodule/AlasMaaBridge/module/config/i18n/en-US.json
  submodule/AlasMaaBridge/module/config/i18n/ja-JP.json
  submodule/AlasMaaBridge/module/config/i18n/zh-CN.json
  submodule/AlasMaaBridge/module/config/i18n/zh-TW.json
  submodule/AlasMaaBridge/module/handler/handler.py
Labels: feature request / 功能请求, Submodule: MAA / MAA插件

#4165 Fix: fix maa closedown
  submodule/AlasMaaBridge/module/handler/handler.py
Labels: bug / 缺陷, Submodule: MAA / MAA插件

#4221 Fix: [Tw] TW event correct
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/zh-TW.json
Labels: game event / 游戏活动

#4211 Upd: [JP] asset TEMPLATE_IN_COMMISSION
  assets/jp/retire/TEMPLATE_IN_COMMISSION.gif
  assets/jp/retire/TEMPLATE_IN_COMMISSION.png
  module/retire/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#4234 Upd: add Visual Studio to gitignore
  .gitignore
Labels: good first issue / 首次贡献

#4237 Fix: ensure not at war archives campaign in ui_goto_event
  module/campaign/campaign_event.py
  module/war_archives/war_archives.py
Labels: bug / 缺陷

#4217 尝试修复强化战斗中船只导致的too_many_click异常
  module/retire/enhancement.py
Labels: bug / 缺陷, good first issue / 首次贡献
