Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2024-11, with the labels that each got.

#4347 [TW]Event: Whence Flowers Bear No Fruit
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/zh-TW.json
Labels: Server: TW / 台服, game event / 游戏活动

#4352 tmp: predict_enemy_genre in event_20241024_cn
  campaign/event_20241024_cn/t4.py
Labels: bug / 缺陷

#4370 Revert "Upd: [JP] asset QUIT"
  assets/jp/combat_ui/QUIT.png
  module/combat_ui/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#4369 Add: JP iridescent fantasy ui quit button
  assets/jp/combat_ui/QUIT_Iridescent_Fantasy.png
  module/combat_ui/assets.py
Labels: good first issue / 首次贡献, assets issue / 资源适配问题, Server: JP / 日服

#4374 Add: fake module PIL for webui
  module/submodule/submodule.py
  module/webui/app.py
  module/webui/fake_pil_module.py
  module/webui/process_manager.py
  submodule/AlasMaaBridge/maa.py
  submodule/AlasMaaBridge/module/asst/asst.py
  submodule/AlasMaaBridge/module/handler/handler.py
Labels: bug / 缺陷, Submodule: MAA / MAA插件

#4403 Upd: [JP] commission suffix ocr pre_process
  module/commission/project.py
Labels: bug / 缺陷, Server: JP / 日服
