Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2025-09, with the labels that each got.

#5019 Opt: disable handle_get_items in OSCombat.combat_status
  module/os_combat/combat.py
Labels: bug / 缺陷

#5100 Fix: some shop item assets
  assets/shop/core/Array_3.png
  assets/shop/guild/BookT2_5.png
  assets/shop/medal/BookRedT2_3.png
  assets/shop/medal/BookRedT3_3.png
  assets/shop/medal/BookT2_5.png
  assets/shop/medal/PlateAntiAirT2_3.png
  assets/shop/medal/PlateGeneralT2_3.png
  assets/shop/medal/PlateGunT2_3.png
  assets/shop/medal/PlateGunT3_3.png
  assets/shop/medal/PlatePlaneT3_3.png
  assets/shop/medal/PlateTorpedoT3_3.png
  assets/shop/medal/SpecializedCore_2.png
  assets/shop/merit/BoxT1_5.png
  assets/shop/merit/BoxT1_6.png
Labels: assets issue / 资源适配问题

#5114 Upd: [JP] asset SHOP_REFRESH
  assets/jp/shop/SHOP_REFRESH.png
  module/shop/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#5157 Fix: [TW] Recapture img "EMPTY_ENHANCE_SLOT_PLUS.png"
  assets/tw/retire/EMPTY_ENHANCE_SLOT_PLUS.png
  module/retire/assets.py
Labels: assets issue / 资源适配问题, Server: TW / 台服

#5176 Fix: OCR_COIN from page_main in shipyard_reward
  assets/cn/shipyard/MAIN_OCR_COIN.png
  module/shipyard/assets.py
  module/shipyard/shipyard_reward.py
  module/shipyard/ui.py
  module/shipyard/ui_globals.py
Labels: bug / 缺陷
