Repository LmeSzinc/AzurLaneAutoScript, pull requests merged in 2025-01, with the labels that each got.

#4493 Add: [JP] asset GUILD_MISSION_NEW
  assets/jp/guild/GUILD_MISSION_NEW.png
  module/guild/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#4492 Upd: [JP] Opsi assets
  assets/jp/os_handler/ACTION_POINT_BUY_REMAIN.png
  assets/jp/os_handler/OS_MONTHBOSS_HARD.png
  assets/jp/os_handler/OS_MONTHBOSS_NORMAL.png
  module/os_handler/assets.py
Labels: assets issue / 资源适配问题, Server: JP / 日服

#4494 Fix: z20_or_z21 should be filtered by any ship
  module/campaign/gems_farming.py
Labels: bug / 缺陷

#4516 2xbook fix for EN-server
  assets/en/handler/BOOK_BOX_AUTO.png
  assets/en/handler/BOOK_BOX_PREP.png
  assets/en/handler/BOOK_CHECK_AUTO.png
  assets/en/handler/BOOK_CHECK_PREP.png
  assets/en/handler/BOOK_POPUP_CHECK.png
  module/handler/assets.py
Labels: assets issue / 资源适配问题, Server: EN / EN服

#4539 [TW] Event: Spring Fashion Festa
  assets/tw/raid/CHIENWU_RAID_EASY.png
  assets/tw/raid/CHIENWU_RAID_HARD.png
  assets/tw/raid/CHIENWU_RAID_NORMAL.png
  campaign/Readme.md
  module/config/argument/args.json
  module/config/i18n/zh-TW.json
  module/raid/assets.py
Labels: Server: TW / 台服, game event / 游戏活动

#4533 upd: [JP] OCR_REMAIN in daily
  module/daily/daily.py
Labels: bug / 缺陷, Server: JP / 日服
